@charset "utf-8";

body {
	background-color: #222;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
a, a:visited {
	color:#D9D9D9;
	text-decoration:none;
}
a:hover, a:active {
	color:#D9D9D9;
	text-decoration:none;
	background-color:#4D4D4D;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1020px;
}
#clock {
	margin-left: 40px;
	margin-top: 71px;
	display: inline;
	float: left;
	height: 100px;
	margin-bottom: 0;
	width: 100px;
}
.h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 600%;
	font-weight: bold;
	text-align: left;
	color: #d9d9d9;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 61px;
	margin-top: 72px;
	display: inline;
	float: left;
	margin-bottom: 0;
	text-shadow:3px 2px 4px #4D4D4D;
}
#colwrap2 {
	float: right;
	margin-left: 0px;
	margin-top: 0px;
	width: 472px;
}
#playbook {
	margin-right: 80px;
	margin-top: 79px;
	display: inline;
	float: right;
	height: 254px;
	margin-bottom: 0;
	width: 372px;
}
#appworld {
	margin-right: 120px;
	margin-top: 35px;
	display: inline;
	float: right;
	height: 81px;
	margin-bottom: 0;
	width: 300px;
}
#colwrap3 {
	float: right;
	margin-left: 0px;
	margin-top: 0px;
	width: 500px;
}
#screenshot {
	margin-right: 101px;
	margin-top: 104px;
	display: inline;
	float: right;
	height: 186px;
	margin-bottom: 0;
	width: 380px;
}
.p_alpha {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	text-align: left;
	color: #fff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 101px;
	margin-top: 34px;
	display: inline;
	float: right;
	margin-bottom: 0;
	width: 380px;
}
#five {
	margin-left: 120px;
	margin-top: 61px;
	display: inline;
	float: left;
	height: 128px;
	margin-bottom: 0;
	width: 113px;
}
#jquery {
	margin-left: 48px;
	margin-top: 89px;
	display: inline;
	float: left;
	height: 79px;
	margin-bottom: 0;
	width: 331px;
}
.p_beta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	text-align: left;
	color: #fff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 68px;
	margin-top: 94px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 198px;
}
.div_footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: left;
	color: #8c8c8c;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 41px;
	margin-top: 142px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.p_bug {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: right;
	color: #8c8c8c;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 41px;
	margin-top: 142px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
